* {
  box-sizing: border-box;
}

html {
  background-color: #bdbcbc;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid black;
}

/* ------------------------- Hero Section --------------------- */

.hero {
  background-image: url("images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em;
  height: 200px;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* add a semi-transparent background color */
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.hero-title {
  margin: 0;
  font-size: 2rem;
}

.watchlist-link {
  color: #ffffff;
  text-decoration: none;
  margin-top: 1em;
}

.watchlist-link:hover {
  cursor: pointer;
  color: #cfd2fa;
}

.hero-title,
.watchlist-link {
  text-shadow: 1px 1px 10px #0d0d0d;
}

/* ----------------------- Search Area --------------------------- */

.search-area {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: -1em;
  border: 1px solid #d1d5db;
}

.magnifying-glass {
  width: 10%;
  background-color: #ffffff;
  padding: 0.1em;
  z-index: 1;
}

.search-bar {
  width: 65%;
  border: none;
  padding: 0 0.5em;
  z-index: 1;
}

.search-button {
  width: 25%;
  border: none;
  z-index: 1;
}

.search-button:hover {
  cursor: pointer;
}

/* ---------------------Movie Results -------------------------- */

.movie-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: .5em;
  text-align: center;
  min-height: calc(100vh - 255px);
}

.movie-container {
  padding: 1em 0;
  border-bottom: 1px solid #d6d8dc;
  width: 90%;
}

.movie-container:last-child {
  border: none;
}

.movie-poster {
  width: 50%;
}

.watchlist {
  display: inline-block;
  margin: 0 auto;
}

.watchlist:hover {
  cursor: pointer;
  color: #6871f1;
}

.plot {
  padding: 0 0.5em;
}

.none {
  display: none;
}

/* -------------------- Watchlist Page ----------------------- */

.watchlist-results {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px);
}

.empty-list-text {
  color: #9a9a9a;
  margin: 0;
}

.remove:hover {
  cursor: pointer;
  color: #6871f1;
}

/* ------------------- Media Queries ---------------------------*/

@media (min-width: 480px) {
  body {
    font-size: 1.2rem;
  }

  .hero {
    align-items: center;
  }

  .hero-text {
    width: 100%;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .watchlist-link {
    margin: 0;
  }

  .movie-poster {
    width: 50%;
  }

  .hero-title {
    font-size: 2.2rem;
  }

  .search-area {
    top: -1.2em;
  }

  .search-bar,
  .search-button {
    font-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  .movie-container {
    display: flex;
  }

  .movie-poster {
    width: 200px;
    height: 350px;
    margin: auto 0
  }

  .movie-info {
    padding: 0 .5em;
  }
}
