* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* ------------------------- Hero Section --------------------- */

.hero {
  background-image: url("images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.4em;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* add a semi-transparent background color */
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  z-index: 1;
}

.hero-title {
  margin: 0;
  font-size: 2rem;
}

.watchlist-link {
  color: #ffffff;
  text-decoration: none;
  margin-top: 1em;
}

.hero-title,
.watchlist-link {
  text-shadow: 1px 1px 10px #0d0d0d;
}

/* ----------------------- Search Area --------------------------- */

.search-area {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: -1em;
  border: 1px solid #d1d5db;
}

.magnifying-glass {
  width: 10%;
  background-color: #ffffff;
  z-index: 1;
}

.search-bar {
  width: 65%;
  border: none;
  z-index: 1;
}

.search-button {
  width: 25%;
  border: none;
  z-index: 1;
}

/* ---------------------Movie Results -------------------------- */

.movie-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  border: 1px solid red;
  text-align: center;
  height: 100%;
}

.film-image {
  margin-top: -15em;
}

.none {
  display: none;
}
